.grid-wrapper
  - (0..2).each do |row|
    - (0..2).each do |col|
      .grid{'data-row-no' => row, 'data-col-no' => col,
      'data-player_1_name' => @game.player_1_name,
      'data-player_2_name' => @game.player_2_name,
      'data-current_player' => @board.court[row][col],
      'data-board-status' => @board.status,
      'data-next-move-url' => next_move_game_board_url(game_id: @game.id, id: @board.id)}
#level-popup.hide
  #message
  #tropy
    = fa_icon 'trophy', class: 'level-trophy'
  #winner
  #next-level
    = link_to 'Next Round', game_url(@game.id)
.board-result
  %h4
    Score Board
  #player-turn
    %span#player-name
      = current_player_name(@board)
    %span
      your turn
  #side-by-side-score
    = fa_icon 'trophy', class: 'winner'
    #player1
      #name1
      = @game.player_1_name.to_s + ' - ' + @game.player_1_score.to_s
    #drawn
      = 'Draw - ' + @game.draw_score.to_s
    #player2
      = @game.player_2_name.to_s + ' - ' + @game.player_2_score.to_s
    .clear