!!!
%html
  %head
    %title TicTacToe
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #board-wrapper
      #game-welcome-wrapper
        %p
          = fa_icon 'bolt'
          Welcome To Play
          = fa_icon 'bolt'
        %h1
          Tic-Tac-Toe
      = yield